/*
 * /src/app.css
 * app.css
 * cml-narrative 
 * 
 * Created by Ian Thompson on January 7th 2023
 * icthomp@g.clemson.edu
 * 
 * https://idealab.sites.clemson.edu
 * 
 */
 
 /* Import TailwindCSS */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @font-face {
    font-family: "Cantora One";
    src: url("/font/CantoraOne-Regular.ttf");
 }
 @font-face {
   font-family: "Mokoto";
   src: url("/font/MokotoGlitch.ttf");
}